.hustle-ui .hustle-optin .hustle-layout .hustle-layout-form {
    padding: 25px 0 0 !important;
}

.hustle-ui .hustle-field .hustle-input, .hustle-ui .hustle-field .hustle-input-label {
    font-family: $font !important;
    font-size: 18px !important;
}

.hustle-ui .hustle-button, .hustle-ui a.hustle-button, .hustle-ui button.hustle-button {
    font-family: $font !important;
    font-weight: 100 !important;
    font-size: 18px !important;
}