//main styles

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  overflow: hidden;
  background: rgb(6, 6, 10);
  min-height: 100vh;
  position: relative;
  color: #ededed;
  font-family: $font;
  @media (min-width: $min_large) {
    font-size: 14px;
  }
}

::selection {
  background: white; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: white; /* Gecko Browsers */
}

section {
  margin-top: 60px;
  &.module {
    margin-top: 100px;
    @media (min-width: $min_large) {
      margin-top: 150px;
    }
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1;
  color: #fff;
  margin: 0;
  padding-bottom: 0.5em;
}
h1 {
  font-size: 42px;
  padding-bottom: 100px;
  text-transform: uppercase;
  @media (min-width: $min_xsmall) {
    font-size: 42px;
  }
  @media (min-width: $min_small) {
    font-size: 72px;
  }
}

h2 {
  font-weight: 100;
  font-size: 40px;
  text-transform: none;
  padding-bottom: 50px;
  @media (min-width: $min_xsmall) {
    font-size: 45px;
  }
  @media (min-width: $min_small) {
    font-size: 55px;
  }
  @media (min-width: $min_medium) {
    font-size: 66px;
  }
  @media (min-width: $min_large) {
    font-size: 78px;
    padding-bottom: 0.5;
  }
}
h3 {
  font-weight: 100;
  font-size: 26px;
  @media (min-width: $min_xsmall) {
    font-size: 28px;
  }
  @media (min-width: $min_small) {
    font-size: 30px;
  }
  @media (min-width: $min_medium) {
    font-size: 42px;
  }
  @media (min-width: $min_large) {
    font-size: 46px;
  }
  @media (min-width: $min_xlarge) {
    font-size: 50px;
  }
}
h4 {
  font-size: 22px;
  font-weight: normal;
  @media (min-width: $min_xsmall) {
    font-size: 24px;
  }
  @media (min-width: $min_small) {
    font-size: 26px;
  }
  @media (min-width: $min_medium) {
    font-size: 28px;
  }
  @media (min-width: $min_large) {
    font-size: 32px;
  }
  @media (min-width: $min_xlarge) {
    font-size: 36px;
  }
}
h5 {
  font-size: 20px;
  padding: 15px 0 0;
  @media (min-width: $min_xsmall) {
    font-size: 22px;
  }
  @media (min-width: $min_small) {
    font-size: 24px;
  }
  @media (min-width: $min_medium) {
    font-size: 26px;
  }
  @media (min-width: $min_large) {
    font-size: 30px;
  }
  @media (min-width: $min_xlarge) {
    font-size: 36px;
  }
}
h6 {
  font-weight: 100;
  line-height: 1.2;
  font-size: 20px;
  padding: 15px 0 5px;
  text-decoration: underline;
  @media (min-width: $min_xsmall) {
    font-size: 20px;
  }
  @media (min-width: $min_small) {
    font-size: 22px;
  }
  @media (min-width: $min_medium) {
    font-size: 23px;
  }
  @media (min-width: $min_large) {
    font-size: 24px;
  }
  @media (min-width: $min_xlarge) {
    font-size: 24px;
  }
}

a {
  display: inline-block;
}

/* titles */
span {
  color: #ededed;
}

p {
  line-height: 1.2;
  font-size: 16px;
  letter-spacing: 0.5px;
  @media (min-width: $min_xsmall) {
    font-size: 16px;
  }
  @media (min-width: $min_small) {
    font-size: 18px;
  }
  @media (min-width: $min_medium) {
    font-size: 18px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  a {
    color: #ededed;
  }
}
a {
  color: #ededed;
  transition: all $time;
  &:hover {
    color: #ff6394;
    text-decoration: none;
  }
}
img {
  max-width: 100%;
}

/* text position */
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.nowrap {
  white-space: nowrap !important;
}

/* Seperator */
hr {
  margin: 40px 15px;
  border-top: 1px solid $mid-grey;
}

/* loader */
.loaded .main-wrapper {
  visibility: hidden;
}
.icon-load {
  background: url(../img/loader.gif) no-repeat left top;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-left: -20px;
  display: none;
}
.loaded .icon-load {
  display: block;
}

/* form */
input[type="text"],
input[type="search"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  background-color: #111;
  border: 1px solid #191919;
  color: #fff;
  outline: none;
  border-radius: 5px;
  // padding: 10px 13px;
  font-size: 14px;
  line-height: 1.45;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include radius(5px);
  height: 40px;
  padding: 8px 28px 8px 8px;
  font-size: 14px;
  font-family: $custom-font-family;
  @media (max-width: 1024px) {
    font-size: 10px;
    height: 31px;
    height: 4px 20px 4px 8px;
  }
  &:focus {
    box-shadow: 0 0 0 1px #777;
    border-color: #555;
    outline-color: pink;
  }
}
textarea {
  height: 150px;
  padding: 8px;
}

/* general styles*/
@media (max-width: 1024px) {
  .hide-for-tablet {
    display: none;
  }
}

@media (min-width: 1025px) {
  .show-for-tablet {
    display: none;
  }
}
@media (min-width: 768px) {
  .show-for-mobile {
    display: none;
  }
}
@media (max-width: 767px) {
  .hide-for-mobile {
    display: none;
  }
}

.bg-video {
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    content: "";
  }
  video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.full_width_video {
  position: relative;
  .cursor.cursor_pause {
    visibility: hidden;
  }
  &.opened {
    .cursor.cursor_play {
      visibility: hidden;
    }
    .cursor.cursor_pause {
      visibility: visible;
    }
  }
  &_btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    cursor: none;
    .vimeo_btn {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .pause_btn {
      display: none;
    }
    &.opened {
      .play_btn {
        display: none;
      }
      .pause_btn {
        display: block;
      }
    }
  }
  .video_wrapper {
    position: relative;
    padding-bottom: 56.6%;
    pointer-events: none;
    &.is-passive {
      pointer-events: auto;
    }

    video,
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// IFRAME RESIZE
.embed-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
  background-color: $mid-grey;
}

.embed-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.two_col_content {
  padding: 58px 0 30px;
  p {
    margin-bottom: 10px;
    line-height: 1.3;
    font-size: 18px;
    @media (min-width: $min_xsmall) {
      font-size: 18px;
    }
    @media (min-width: $min_small) {
      font-size: 20px;
    }
    @media (min-width: $min_large) {
      font-size: 22px;
      margin-bottom: 16px;
    }
  }
}

.hover:hover {
  opacity: 0.8;
}

.noFocus:focus {
  outline: none;
}

.noFocus:hover {
  color: inherit;
}

.all-content {
  p {
    padding-top: 20px;
  }
}

.page_links {
  margin: 0;
  padding: 0 0 10px 0;
  list-style-type: none;
  span {
    font-size: 16px;
    color: $light-grey;
  }
}

.button {
  background-color: $white;
  border: none;
  color: $dark-grey;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 0;
}

.button:hover {
  background-color: $primary;
  color: $dark-grey;
}

.grey {
  color: $light-grey;
}

.color {
  color: #758991;
}

.balance-text {
  text-wrap: balanced;
}
